{% include 'scheme/favicon.html' %}

<footer class="custom-footer">
    <div class="row">
        <div class="col-12 text-center">
            <h1 style="font-size:50x; margin-top: 20px;">FITNESS</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-sm-6">
            <div class="single-box">
                <p>Ваш надежный партнер в мире онлайн-покупок.</p>
                <h3>Мы принимаем</h3>
                <div class="card-area">
                    <i class="fa fa-cc-visa"></i>
                    <i class="fa fa-credit-card"></i>
                    <i class="fa fa-cc-mastercard"></i>
                    <i class="fa fa-cc-paypal"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="single-box">
                <h3>Контактная информация</h3>
                <p>12345, г. Ярослалвь, ул. Пушкина, д. Колотушкина</p>
                <p>Телефон: +7 (123) 456-78-90</p>
                <p>Email: info@yourwebsite.com</p>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="single-box">
                <h3>Полезные ссылки</h3>
                <ul>
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Условия использования</a></li>
                    <li><a href="#">Политика конфиденциальности</a></li>
                    <li><a href="#">Связаться с нами</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>