{% include 'scheme/staticlinks.html' %}
{% include 'scheme/navbar.html' %}
{% include 'scheme/favicon.html' %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <h2 class="card-title">Удалить пост</h2>
                    <p class="card-text">Вы уверены, что хотите удалить этот пост?</p>
                    <form method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'scheme/scripts.html' %}
