{% include 'scheme/staticlinks.html' %}
{% include 'scheme/navbar.html' %}
{% include 'scheme/favicon.html' %}
<body>
<section class="vh-100 bg-image">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Редактирование поста</h2>

                            <form method="post">
                                {% csrf_token %}
                                {% for field in form %}
                                <div class="form-outline mb-4">
                                    {% if field.field.widget.input_type == 'select' %}
                                    {{ field }}
                                    {% else %}
                                    <input type="{{ field.field.widget.input_type }}" id="{{ field.auto_id }}"
                                           class="form-control form-control-lg" name="{{ field.html_name }}"
                                           value="{{ field.value }}"/>
                                    {% endif %}
                                    <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                                </div>
                                {% if field.errors %}
                                <div class="text-danger">
                                    {{ field.errors }}
                                </div>
                                {% endif %}
                                {% endfor %}
                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-soft btn-lg font-weight-bold"
                                            style="font-size:25px">
                                        Редактировать
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'scheme/footer.html' %}
{% include 'scheme/scripts.html' %}
</body>
