{% include 'scheme/staticlinks.html' %}
{% include 'scheme/navbar.html' %}
{% include 'scheme/favicon.html' %}
<body>
<section class="vh-100 bg-image"
         style="background-image: url('/media/background-fitness.jpg');
            background-repeat: no-repeat; background-size: cover; background-position: center center;
">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Добавление услуги</h2>
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% for field in form %}
                                <div class="form-outline mb-4">
                                    {% if field.name == "author" %}
                                    {{ field }}
                                    {% else %}
                                    <input type="{{ field.field.widget.input_type }}" id="{{ field.id_for_label }}"
                                           class="form-control form-control-lg" name="{{ field.html_name }}"
                                           placeholder="{{ field.label }}" maxlength="{{ field.field.max_length }}"/>
                                    {% endif %}
                                    <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                </div>
                                {% endfor %}

                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-soft btn-lg font-weight-bold"
                                            style="font-size:25px">
                                        Добавить
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% include 'scheme/footer.html' %}
{% include 'scheme/scripts.html' %}
</body>
